/*index.css*/
#header{
  
}
body{
    margin:0px;
}
@media screen and (max-width: 760px){
 #section{
     height: 1500px;
 }
}
/*header.css*/
ul{
    height: 50px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    align-items: center;
}
.navbar__list-item a{
   text-decoration: none;
   color: #000;
   padding: 10px 25px;
   margin:  10px 20px;
   text-transform: uppercase;
   font-weight: bolder;
   letter-spacing: 3px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 13px;
}
.navbar__list-item a:hover{
    text-decoration: none;
    color: rgb(180, 204, 214);
 }
.navbar__list-item:first-child{
    flex-grow: 1;
}
.navbar__list-item:nth-child(4){
    flex-grow: 1;
}
.navbar__list-item:last-child a{
    color: #FFF;
    background: #000;
}
.navbar__list-item:last-child a:hover{
    color: #FFF;
    background: rgb(180, 204, 214);
}
/*main.css*/
.create__story{
    display: flex;
    flex-wrap: wrap;
}
.create__story-desctiption{
    flex-grow: 1;
    background: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create__story-desctiption h1{
    width: 325px;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 40px;
}
.create__story-desctiption p{
    width: 325px;
    opacity: 50%;
    line-height: 1.5;
}
.create__story-desctiption h2{
    width: 325px;
}
.create__story-desctiption a{
    width: 325px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #FFF;
}
.create__story-desctiption a:hover{
    text-decoration: underline;
}

.create__story-image img{
    height: 90vh;
    width: 800px;
}
.create__story-desctiption i{
    color: #FFF;
    font-size: 13px;
    margin-left: 5px;
}
/***************************/
.create__story-desctiption--2{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create__story-desctiption--2 h2{
    width: 325px;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 40px;
}
.create__story-desctiption--2 p{
    width: 325px;
    opacity: 50%;
    line-height: 1.5;
}
.create__story-desctiption--2 h3{
    width: 325px;
}
.create__story-desctiption--2 a{
    width: 325px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
}
.create__story-desctiption--2 a:hover{
    text-decoration: underline;
}

.create__story-image--2 img{
    height: 90vh;
    width: 800px;
}
.create__story-desctiption--2 i{
    color: #000;
    font-size: 13px;
    margin-left: 5px;
}

/*****************************/

.create__story-desctiption--3{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create__story-desctiption--3 h2{
    width: 325px;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 40px;
}
.create__story-desctiption--3 p{
    width: 325px;
    opacity: 50%;
    line-height: 1.5;
}
.create__story-desctiption--3 h3{
    width: 325px;
}
.create__story-desctiption--3 a{
    width: 325px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
}
.create__story-desctiption--3 a:hover{
    text-decoration: underline;
}
.create__story-image--3 img{
    height: 90vh;
    width: 800px;
}
.create__story-desctiption--3 i{
    color: #000;
    font-size: 13px;
    margin-left: 5px;
}
 /********************************/

 .section__images{
     display: flex;
     /* background-image: url("/images/image4.jpg") no-repeat center center fixed;
     background-size: cover; */
     justify-content: center;
     flex-wrap: wrap;
     margin-top: 0px;
     padding-top: 0px;
 }
 .section__images img{
    width: 24.7vw;
    height: 70vh;
}
.section__images img:hover{
    position: relative;
    bottom: 20px;
}
.section__images-description{
    display: flex;
    justify-content: space-evenly;
}

/******************************/

.footer__wrapper{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}
.footer__wrapper-content{
    margin-left: 50px;
    flex-grow: 1;
 
}
.footer__wrapper-content a{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 13px;
}
.footer__wrapper-content a:hover{
    text-decoration: underline;
}
.footer__wrapper-invite{
    text-align: center;
}
.footer__wrapper-invite p{
    color: #FFF;
    opacity: 50%;
}
.footer__wrapper-invite a{
    color: #FFF;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 13px;
    letter-spacing: 2px;

}
.footer__wrapper-invite a:hover{
    text-decoration: underline;
}
.footer__wrapper-invite i{
    color: #FFF;
    font-size: 13px;
    margin-left: 5px;
}
.footer__wrapper-icon--net{
    margin-top: 25px;
}
.footer__wrapper-icon--net i{
    color: #FFF;
    font-size:  20px;
}
.footer__wrapper-icon--net{
    display: flex;
    justify-content: space-between;
}

/***************************************/
.about{
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.about img{
    margin-left: 25px;
}
.about h3{
    text-align: center;
    width: 300px;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: lighter;
} 
.about p{
    text-align: center;
    width: 300px;
    line-height: 1.5;
} 
.about__website-logo{
    display: flex;
    width: 300px;
    justify-content: center;
}

/****************************/

.section__images-description{
    display: flex;
    position: relative;
    bottom: 170px;
    right: 50px;
    justify-content: space-evenly;
}
.section__images-description1{

    color: #FFF;
}
.section__images-description2{
    color: #FFF;
}
.section__images-description3{
    color: #FFF;
}
.section__images-description4{
    color: #FFF;
}
.section__images-description a{
    color: #FFF;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 15px;
    letter-spacing: 2px;
    text-decoration: none;
}
.section__images-description h2{
    color: #FFF;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 25px;
    letter-spacing: 2px;
}
.section__images-description a:hover{
    text-decoration: underline;
}